<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="root" level="info"/>
    <logger name="org.springframework.web" level="info"/>
    <logger name="org.springframework.data.r2dbc" level="info"/>
    <springProfile name="dev"><logger name="com.gitlab.dhorman.cryptotrader" level="debug"/></springProfile>
    <springProfile name="test"><logger name="com.gitlab.dhorman.cryptotrader" level="debug"/></springProfile>
    <springProfile name="prod"><logger name="com.gitlab.dhorman.cryptotrader" level="info"/></springProfile>
</configuration>
